<footer>
    <div class="footer-inner">
        <a href="/about" tabindex="4">
            <div class="tooltip">
                <span class="label">About</span>
                <span class="tooltip-text">Who made this</span>
            </div>
        </a>
    </div>
</footer>