<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&family=Merriweather:wght@400;900&display=swap" rel="stylesheet">

<title><%= title %></title>
<meta name="title" content="CodeType">
<meta name="description" content="Fast typing test for developers.">

<meta property="og:type" content="website">
<meta property="og:url" content="/">
<meta property="og:title" content="CodeType">
<meta property="og:description" content="Fast typing test for developers.">

<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="/">
<meta property="twitter:title" content="CodeType">
<meta property="twitter:description" content="Fast typing test for developers.">

<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="/typing.css">